<!doctype html>
<html ng-app="Api" ng-controller="ApiCtrl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!--	<script src="doc.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Advertisement Categories</h1> <!--Write here your object name-->
<table class="table table-hover" cellpadding="0" cellspacing="0">
    <tr>
        <!--fill your object fields-->
        <th>Id</th>
        <th>Name</th>
        <th>Product Type</th>
        <th>Created</th>
        <th>Last Updated</th>
        <!---->
        <th>Actions</th>
    </tr>
    <tbody ng-repeat="p in ApiArray">
    <tr>
        <!--fill your object fields-->
        <td>{{p.id}}</td>
        <td><input type="text" ng-model="p.name"  /></td>
        <td><input type="text" ng-model="p.productType"  /></td>
        <td><input type="text" ng-model="p.created"  /></td>
        <td><input type="text" ng-model="p.lastUpdated"  /></td>
        <!---->
        <td><a href="" ng-click="save($index)">Save</a></td>
        <td><a href="" ng-click="delete($index)">Delete</a></td>
    </tr>
    </tbody>
</table>

<h2>Add new</h2>
<form name="addObject" novalidate ng-submit="submitNew()">
    <!--fill your object fields-->
    <label for="nameCr">Name</label>
    <input type="text" ng-model="objNew.name" id="nameCr">
    <label for="productTypeCr">Product type</label>
    <input type="text" ng-model="objNew.productType" id="productTypeCr">
    <label for="createdCr">Created date</label>
    <input type="text" ng-model="objNew.created" id="createdCr">
    <label for="lastUpdatedCr">Last updated date</label>
    <input type="text" ng-model="objNew.lastUpdated" id="lastUpdatedCr">
    <!---->
    <button type="submit">Save New</button>
</form>
</body>

<script>
    var app = angular.module('Api', []);

    var apiPath="http://localhost:8199/tm/api/v1/advcategory"; <!--Write your API path-->

    app.controller('ApiCtrl', function($scope, $http) {
        fillTable = function() {
            $http.get(apiPath)
                .then(function(response) {
                    $scope.ApiArray = response.data;
                });
        };

        fillTable();

        $scope.submitNew = function() {
            $http.post(apiPath, $scope.objNew)
                .then(function(response) {
                    $scope.ApiArray.push(response.data);
                });
        };

        $scope.delete = function(index) {
            var del = $scope.ApiArray[index];

            $http.delete(apiPath+"/"+del.id)
                .then(function(success) {
                    $scope.ApiArray.splice(index, 1);
                });
        };

        $scope.save = function(index) {
            var sav = $scope.ApiArray[index];

            $http.put(apiPath,sav)
                .then(function(success) {
                });
        };

    });
</script>
</html>