<!doctype html>

<html ng-app="app" ng-controller="advertsController">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Список объявлений:</h1>
<a class="btn btn-outline-warning" href="#!/adverts_create_new_form" ng-click="new()">Создать новое</a>
<hr>

<table class="table table-hover" cellpadding="0" cellspacing="0">
    <div ng-repeat="a in AdvertsList">
        <div class="card">
            <div class="card-header">
                {{a.title + ' (# '+a.id+')'}}
            </div>
            <div class="card-body">
                <!--            <h5 class="card-title">Special title treatment</h5>-->
                <p class="card-text">{{a.shortText}}</p>
                <a class="btn btn-outline-warning" href="#!/adverts_edit_form?id={{a.id}}">Редактировать</a>
                <a class="btn btn-outline-warning" href="" ng-click="delete($index)">Удалить</a>
                <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
        <br>
    </div>

</table>
</body>
</html>