<!doctype html>

<html ng-app='app' ng-controller='advertsController'>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

    <h1>Редактирование объявления</h1>
    {{advEdit}}
    <form name="changeAdvert" novalidate  ng-submit="submitNew()">
            <div class="card">
                <div class="card-body">
<!--                    <div>-->
<!--                        <label for="advIdCr">ИД</label>-->
<!--                        <input type="text" ng-model="advNew.id" id="advIdCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="advBeginDateCr">Дата начала</label>-->
<!--                        <input type="text" ng-model="advNew.beginDate" id="advBeginDateCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="advEndDateCr">Дата окончания</label>-->
<!--                        <input type="text" ng-model="advNew.endDate" id="advEndDateCr">-->
<!--                    </div>-->
                    {{advEdit.title}}
                    <div>
                    <label for="advTitleCr">Заголовок</label>
                    <input type="text" ng-model="advEdit.title" id="advTitleCr">
                    </div>
                    <div>
                    <label for="advTextCr">Описание</label>
                    <input type="text" ng-model="advEdit.description" id="advTextCr">
                    </div>
                    <div>
                    <label for="advAdvertTypeCr">Тип объявления</label>
                        <select ng-model="advEdit.type" id="advAdvertTypeCr">
                            <option ng-repeat="t in AdvertTypes" value="{{t}}">{{t}}</option>
                        </select>
<!--                    <input type="text" ng-model="advNew.type" id="advAdvertTypeCr">-->
                    </div>
<!--                    <div>-->
<!--                    <label for="advProductConditionCr">Состояние</label>-->
<!--                    <input type="text" ng-model="advNew.productCondition" id="advProductConditionCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                    <label for="advProductConditionCr">Категория</label>-->
<!--                    <input type="text" ng-model="advNew.categoryId" id="advСategoryCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="advProductTypeCr">Тип продукта</label>-->
<!--                        <input type="text" ng-model="advNew.productType" id="advProductTypeCr">-->
<!--                    </div>-->

<!--                    <div>-->
<!--                    <label for="advCreatedCr">Дата создания</label>-->
<!--                    <input type="text" ng-model="advNew.created" id="advCreatedCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                    <label for="advLastUpdatedCr">Дата изменения</label>-->
<!--                    <input type="text" ng-model="advNew.lastUpdated" id="advLastUpdatedCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                    <label for="advPriceCr">Цена</label>-->
<!--                    <input type="text" ng-model="advNew.price" id="advPriceCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                    <label for="advCurrencyCr">Валюта</label>-->
<!--                    <input type="text" ng-model="advNew.currencyId" id="advCurrencyCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                    <label for="advLanguageCr">Язык</label>-->
<!--                    <input type="text" ng-model="advNew.language" id="advLanguageCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                    <label for="advIsActualCr">Актуально</label>-->
<!--                    <input type="text" ng-model="advNew.isActual" id="advIsActualCr">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="advUserIdCr">Ид пользователя</label>-->
<!--                        <input type="text" ng-model="advNew.userId" id="advUserIdCr">-->
<!--                    </div>-->
                    <div>
                      <button type="submit" href="">Сохранить</button>
                    </div>
                </div>
            </div>
    </form>

</body>

</html>