<!doctype html>

<html ng-app="app" ng-controller="articleController">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<h1>Новый лайк/рейтинг</h1>

<form name="addLike" novalidate ng-submit="submitNew()">
    <div class="card">
        <div class="card-body">
            <div>
                <label for="articleId">Id статьи</label>
                <input type="number" ng-model="likeNew.article" id="articleId">
            </div>
            <div>
                <label for="userId">Id пользователя</label>
                <input type="number" ng-model="likeNew.user" id="userId">
            </div>
            <div>
                <label for="likeDislike">Лайк/дизлайк (1 или -1)</label>
                <input type="number" ng-model="likeNew.likeDislike" id="likeDislike">
            </div>
            <div>
                <label for="rating">Рейтинг (1-5)</label>
                <input type="number" ng-model="likeNew.rating" id="rating">
            </div>

            <div>
                <button type="submit" href="">Сохранить</button>
            </div>
        </div>
    </div>
</form>

</body>

</html>