<!doctype html>

<html ng-app="app" ng-controller="articleCommentController">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Список комментариев к статьям:</h1>
<a class="btn btn-outline-warning" href="#!/article_comment_new" ng-click="new()">Создать новый</a>
<hr>

<table class="table table-hover" cellpadding="0" cellspacing="0">

    <tr>
        <th>ID</th>
        <th>ID статьи</th>
        <th>ID автора</th>
        <th>ID родительского комментария</th>
        <th>Текст комментария</th>
        <th>Дата создания</th>
        <th>Дата редактирования</th>
        <th>Действия</th>

    </tr>

    <tbody>
    <tr ng-repeat="like in commList">
        <td>{{like.id}}</td>
        <td>{{like.articleId}}</td>
        <td>{{like.userId}}</td>
        <td>{{like.parentId}}</td>
        <td>{{like.text}}</td>
        <td>{{like.created}}</td>
        <td>{{like.lastUpdated}}</td>
        <td>
                <a class="btn btn-outline-warning" style="display: inline-block" href="#!/article_comment_edit?id={{like.id}}">Редактировать</a>
                <a class="btn btn-outline-warning"href="" ng-click="delete($index)">Удалить</a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>