<!doctype html>

<html ng-app="app" ng-controller="articleCommentEditController">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="logic.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<h2>Редактировать комментарий к статье</h2>
{{comm}}
<form name="addComment" novalidate ng-submit="submitUpdate()">
    <div class="card">
        <div class="card-body">
            ID: {{comm.id}}
            <div>
                <label for="articleId">Id статьи</label>
                <input type="number" ng-model="comm.articleId" id="articleId">
            </div>
            <div>
                <label for="userId">Id пользователя</label>
                <input type="number" ng-model="comm.userId" id="userId">
            </div>
            <div>
                <label for="parentId">Id родительского комментария (для корневых не заполнять)</label>
                <input type="number" ng-model="comm.parentId" id="parentId">
            </div>
            <div>
                <label for="text">Текст комментария</label>
                <input type="text" ng-model="comm.text" id="text">
            </div>
           Data create:{{comm.created}}
           Data last update: {{comm.lastUpdated}}

            <div>
                <button type="submit" href="">Сохранить</button>
            </div>
        </div>
    </div>
</form>

</body>

</html>